[class^='TSNodes_'] {
  font-family: sans-serif;
}

.TSNodes_canvas {
  background:
  linear-gradient(to right, #525252 2px, transparent 1px) 0 0 / 80px 80px,
  linear-gradient(#525252 2px, transparent 1px) 0 0 / 80px 80px,
  linear-gradient(to right, #4a4a4a 1px, transparent 1px) 0 0 / 20px 20px,
  linear-gradient(#4a4a4a 1px, transparent 1px) 0 0 / 20px 20px
  #444444;
}

.TSNodes_nodeElement {
  background: lighten(#444444, 10);
  border-radius: 4px;
  color: white;
  margin: 5px;
  padding: 5px;
  width: calc(100% - 20px);
  height: 20px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  cursor: pointer;
  &:hover {
    background: lighten(#444444, 20);
  }
}

.TSNodes_graphElement {
  background: lighten(#444444, 10);
  border-radius: 4px;
  color: rgba(255,255,255,0.7);
  margin: 5px;
  padding: 5px;
  width: calc(100% - 20px);
  height: 20px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  cursor: pointer;
  &:hover {
    background: lighten(#444444, 20);
  }
}

.TSNodes_graphSelected {
  font-weight: bold;
  color: white;
}

.TSNodes_selectBox {
  border: 1px dashed rgba(255,255,255,0.7);
  background: rgba(255,255,255,0.04);
}

.TSNodes_graphInfo {
  background: #888888;
  label {
    display: block;
    padding-top: 6px;
    span {
      margin-left: 6px;
      color: white;
    }
    input {
      background: #505050;
      color: white;
      font-size: 16px;
      border-radius: 3px;
      text-indent: 2px;
      outline: none;
      border: none;
      margin-left: 6px;
      width: calc(100% - 16px);
      height: 24px;
      margin-top: 4px;
      margin-bottom: 4px;
      &:focus {
        background: darken(#505050, 8);
      }
    }
  }
  button {
    background: lighten(#444444, 10);
    border-radius: 4px;
    color: white;
    margin: 5px;
    padding: 5px;
    width: calc(100% - 10px);
    height: 20px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 16px;
    padding-bottom: 22px;
    margin-bottom: 10px;
    &:hover {
      background: lighten(#444444, 20);
    }
  }
}

.TSNodes_nodeInfo {
  background: #888888;
  label {
    display: block;
    padding-top: 6px;
    span {
      margin-left: 6px;
      color: white;
    }
    input {
      background: #505050;
      color: white;
      font-size: 16px;
      border-radius: 3px;
      text-indent: 2px;
      outline: none;
      border: none;
      margin-left: 6px;
      width: calc(100% - 16px);
      height: 24px;
      margin-top: 4px;
      margin-bottom: 4px;
      &:focus {
        background: darken(#505050, 8);
      }
    }
  }
  button {
    background: lighten(#444444, 10);
    border-radius: 4px;
    color: white;
    margin: 5px;
    padding: 5px;
    width: calc(100% - 10px);
    height: 20px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 16px;
    padding-bottom: 22px;
    margin-bottom: 10px;
    &:hover {
      background: lighten(#444444, 20);
    }
  }
}

.TSNodes_node {
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  background: rgba(119,119,119,0.8);
  border: 2px solid transparent;
}

.TSNodes_nodeCollapsed {
  .TSNodes_name {
    max-height: 25px;
    min-height: 25px;
    height: 25px;
    padding: 2px;
    button {
      top: -5px;
    }
  }
}

.TSNodes_nodeSelected {
  outline: none;
  border: 2px solid lighten(#777777, 20);
}

.TSNodes_nodeActive {
  outline: none;
  border: 2px solid lighten(#777777, 40);
}

.TSNodes_name {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  line-height: 20px;
  background: #555555;
  color: #ffffff;
}

.TSNodes_nodeContainer {
  margin-top: 30px;
  margin-bottom: 8px;
}

.TSNodes_inputElement {
  min-height: 20px;
  height: 20px;
  max-height: 20px;
  margin: 6px 0;
  span {
    color: white;
    font-size: 14px;
    line-height: 20px;
  }
}

.TSNodes_outputElement {
  min-height: 20px;
  height: 20px;
  max-height: 20px;
  margin: 6px 0;
  color: white;
  font-size: 14px;
  line-height: 20px;
}

.TSNodes_inputSnap {
  top: 2px;
  left: -9px;
  width: 16px;
  height: 16px;
}

.TSNodes_outputSnap {
  top: 2px;
  right: -9px;
  width: 16px;
  height: 16px;
}

.TSNodes_inputDot {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background: #eeeeee;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.TSNodes_outputDot {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background: #eeeeee;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.TSNodes_fieldElement {
  width: calc(100% - 16px);
  color: white;
  font-size: 14px;
  line-height: 20px;
  input {
    background: #505050;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    text-indent: 2px;
    &:focus {
      background: darken(#505050, 8);
    }
  }
}

.TSNodes_fieldElementNumber {
  width: calc(100% - 18px);
  color: white;
  font-size: 14px;
  line-height: 20px;
  div {
    background: #505050;
    border-radius: 3px;
    button:first-child, button:last-child {
      background: lighten(#505050, 6);
      &:hover {
        background: lighten(#505050, 4);
      }
      &:first-child::before {
        border-color: transparent #aaaaaa transparent transparent;
      }
      &:last-child::before {
        border-color: transparent transparent transparent #aaaaaa;
      }
    }
    span {
      padding-left: 4px;
      padding-right: 2px;
      &::after {
        content: ":";
      }
    }
    input {
      color: white;
      font-size: 14px;
      text-indent: 2px;
      background: #505050;
      &:focus {
        background: darken(#505050, 8);
      }
    }
    &:focus-within {
      background: darken(#505050, 8);
      span {
        display: none;
      }
    }
  }
}

.TSNodes_fieldElementBoolean {
  width: calc(100% - 16px);
  color: white;
  font-size: 14px;
  line-height: 20px;
  input {
    //background: #505050;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    text-indent: 2px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    max-width: 2px;
    margin-left: 0;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -1px;
      left: 0;
      width: 8px;
      height: 8px;
      background: #505050;
      border: 4px solid #505050;
      border-radius: 3px;
    }
    &:checked {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 3px;
        width: 10px;
        height: 10px;
        background: white;
        border-radius: 3px;
      }
    }
  }
}
